.not-found-bg-container {
  background-image: url('https://res.cloudinary.com/bhanu-prakash/image/upload/v1659950868/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_nk5m7w.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto';
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .not-found-bg-container {
    background-image: url('https://res.cloudinary.com/bhanu-prakash/image/upload/v1659953938/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_1_rlp1or.png');
    background-position: center;
  }
}

.not-found-page-button {
  height: 40px;
  width: 130px;
  padding: 8px 24px 8px 24px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  color: #171f46;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .not-found-page-button {
    height: 48px;
    width: 130px;
    padding: 12px 24px 12px 24px;
    margin-top: 32px;
  }
}

.not-found-heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 96px;
  }
}

.not-found-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.85px;
}

@media screen and (min-width: 768px) {
  .not-found-description {
    max-width: 500px;
    font-size: 24px;
    line-height: 31.27px;
  }
}
