.search-bar {
  width: 120px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  padding-left: 10px;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 16px;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .search-bar {
    margin-top: 5px;
    width: 300px;
    height: 35px;
  }
}

.search-results-container {
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.no-search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
@media screen and (min-width: 768px) {
  .no-search-results-container {
    height: 80vh;
  }
}

.no-search-result {
  height: 176px;
  width: 209.52px;
}
@media screen and (min-width: 768px) {
  .no-search-result {
    height: 378px;
    width: 450px;
    margin-top: 50px;
  }
}

.no-result-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  max-width: 225px;
  line-height: 25px;
  letter-spacing: 0px;
}

.search-text {
  color: red;
  font-family: 'Roboto';
  font-weight: 600;
}

.search-bar-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search-button {
  height: 30px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-left: none;
  background-color: #2c2b2b;
  cursor: pointer;
  width: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .search-button {
    margin-top: 5px;
    height: 35px;
  }
}
